body{
    margin:0;
    padding:0;
    height:100%;
}

.home {
    background-color: rgb(74, 26, 64);
    width: 100%;
    display: flex;
    justify-content: center;
    height: 150px;
    align-items: center;
}

 
.navBar{
    background-color: rgb(98, 37, 85);
    color: white;
    font-family:  "Jockey One", sans-serif;;
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.navBarFix{
    position: fixed;
    top: 0;
    z-index: 10000;
    background-color: rgb(98, 37, 85);
    color: white;
    font-family:  "Jockey One", sans-serif;;
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#boton:hover{
    cursor: pointer;
}



.lista {
    list-style-type: none; 
    text-decoration: none;
    color: white;
    padding: 0;
    margin: 0;
    display: flex; 
    justify-content: space-evenly; 
    width: 100vw;
}


.redi
{
    position: relative;
    align-items: center;
    font-size: 3vh;
    width:7vw;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-family:  "Jockey One", sans-serif;;
}

.superior{
    font-size: 35px;
    font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif, sans-serif;
    height: 12vh;
    color: #4A1A3F;
}
.categorias{
    width: 25vw;
    height: 100vb;
    background-color: rgb(255, 255, 249);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 3vh;
}
.categoriasFix{
    width: 25vw;
    height: 100vb;
    background-color: rgb(255, 255, 249);
    position: sticky;
    z-index: 100;
    margin-top: 15.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.busqueda{
    width: 15vw;
    border: none;
    height: 4vh;
    font-size: 25px;
    background-color: rgb(255, 255, 249);
}
.busqueda::placeholder {
    color: rgba(74, 26, 63, 0.8);
 
}
.busqueda:focus{
    outline: 0;
}
.enviar{
    width: 4vw;
    height: 6vh;
    font-size: 20px;
    border-radius: 5px;
    background: none;
    border: none;
}




.listaSugerencias{
    width: 25vw;
    height: 60vh;   
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}
.sugerencia{

    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 20vw;
    height: 5vh;
    margin-bottom: 1vh;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif, sans-serif;
}

.nombreProducto{
    border-bottom: 2px solid #4A1A40; padding-bottom: 0.5vh; margin: 3%;
    width: 12vw; 
}



.pie {
    width:100%;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    justify-content: space-evenly;
    color: #4A1A40;
    align-items: center;
    background-color: #FEFEFF;
    font-size: auto;
}

.pie h4, b {
    font-family: jockey one;
    color: #622555;
}

.ft {
    width: 100%;
    max-width: 250px;
    text-align: center;
}

.ft h4{
    padding-top: 1vh;
    border-bottom: solid 1px;
}

.ft a {
    color: #4A1A40;
    text-decoration: none;
}
.ft img {
    max-width: 100%;
    height: auto;
}
.tipoDeProducto{
    color: black;
    width: 170px;
    height: 28px;
    display: flex;
    align-items: center;
    padding: 3%;
    }

.tipoDeProducto:hover{
    color: white;
    text-decoration: none;
    zoom: 105%;
    background-color: #861e73;
    border-radius:  5px;
}
.ejemplares{
    width: 100vw;
    min-height: 65vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
    }
.link{
    text-decoration: none;
    color: white;
}


.contenedor{
    display: flex;
    justify-content: space-between;
}

.ejemplar

{
    margin-top: 5vh;
    height: auto;
    width: 60vw;
    background-color: white;
    border-radius: 20px;
    padding: 1%;
    display: flex;
}
.ejemplarInfo{
    display: flex;
    flex-direction: column;
    width: 40vw;
    margin: 3%;
    justify-content: space-between;
    
}
.ejemplar h4{
    padding: .2%;
    font-size: 25px;
}

.ejemplar button{
    width: 15vw; 
    background-color: #8a1d70;
    color: white;
    border-radius: 3px;
    border: 0;
}
.ejemplar img{
    margin: 5%;
}
.ponerImagen{
    border-radius: 7%;
}

@media (max-width: 850px)
{
    .redi{
        
        font-size: 100%;
        width: 25vw;
    }
    .navBar, .navBarFix{
        height: 7vh; 
    }
    
    .ft {
        font-size: 80%;
    }
    #primerFT{
        display: none;
    }

    .categorias, .categoriasFix{
        display: none;
    }

    .ejemplares{
    width: 100vw;
    min-height: 65vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
    }
    .ejemplar
    {
        margin-top: 15px;
        width: 80vw;
    }
    .ejemplarImagen{
        margin-right: 12px;
    }
    .ejemplar button{
        width: 80%;
        border-radius: 6px;
        font-size: 85%;
    }
    .ejemplar h4{
        font-size: 130%;
    }
}
