body{
    margin: 0;
}

.home {
    background-color: rgb(74, 26, 64);
    width: 100%;
    display: flex;
    justify-content: center;
    height: 23vh;
}

 
.navBar{
    background-color: rgb(98, 37, 85);
    color: white;
    font-family:  "Jockey One", sans-serif;;
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.navBarFix{
    position: fixed;
    top: 0;
    z-index: 10000;
    background-color: rgb(98, 37, 85);
    color: white;
    font-family:  "Jockey One", sans-serif;;
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.redi
{
    font-size: 3vh;
    width:4vw;
    display: flex;
    justify-content: center;
}

.grid-inicio {

    padding-left: 5vw;
    display: grid;
    grid-template-columns: repeat(2, 500px) repeat(3, 1fr);
    grid-template-rows: repeat(2, 352px) repeat(3, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 10px;
}

.grid-inicio {
    overflow: auto; 
}

.cosa1 {grid-area: 1 / 1 / 3 / 2; }
.cosa2 { grid-area: 1 / 2 / 2 / 3; }
.cosa3 { grid-area: 2 / 2 / 3 / 3; }

.container-grid{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    width: 100vw;
    height: 850px;
}
