body{
    margin: 0;
}

.home {
    background-color: rgb(74, 26, 64);
    width: 100vw;
    display: flex;
    justify-content: center;
}

 
.navBar{
    background-color: rgb(98, 37, 85);
    color: white;
    font-family:  "Jockey One", sans-serif;;
    height: 10vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.redi
{
    font-size: 3vh;
    width:4vw;
    display: flex;
    justify-content: center;
}
<<<<<<< HEAD
=======
.grid-inicio {
    margin-top: 10vh;
    margin-left: 10vw;
    width: 80vw;
    margin-bottom: 20vh;
    display: grid;
    grid-template-columns: 50% 40%;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    }
    
.cosa1 {
    height: 80vh;
    background-color: red;
     grid-area: 1 / 1 / 3 / 2; 
    }
.cosa2 { 
    height: 37vh;
    background-color: red;
    grid-area: 1 / 2 / 2 / 3; 
}
.cosa3 {
    height: 37vh; 
    background-color: red;
    grid-area: 2 / 2 / 3 / 3;  }
>>>>>>> 46a724e4eae3379477bfc061ead698a08c045c72
